= semantic_form_for question.becomes(QueryAssumptionResult), remote: true do |f|
  - random_id = SecureRandom.hex
  = f.inputs do
    .btn-group.btn-group-xs.btn-group-justified{data: {fill_input: '#query_assumption_result_result_input'}}
      %a.btn.btn-success(href=""){data: {fill_input_value: "true"}}
        Yes
      %a.btn.btn-warning(href=""){data: {fill_input_value: "false"}}
        No
    = f.input :result, as: :hidden
