%h4.list-group-item-heading
  =link_to assumption.name, assumption.becomes(Assumption)
  .pull-right
    =glyphicon_critcal(assumption)
    =glyphicon_type(assumption)
%p.list-group-item-text
  %p=link_to assumption.description, assumption.becomes(Assumption)
  - if assumption.is_a?(BlankAssumption) && assumption.assumptions.any?
    = render 'assumptions', assumptions: assumption.assumptions

