%h4 Your entered code was:
%code
  =r_code(@script)

- if @dataset
  %h4 The selected dataset was: #{@dataset.name}
  = render 'datasets/render_dataset', dataset: @dataset, limit: @plot ? 5: 10

- if @plot
  %h4
    Plot
  %p
    The generated plot is:
  %p
    = image_tag(@plot.asset_path, class: 'fit-parent')
- else
  %h4
    Variable
    %code result
    got assigned with:
  %code
    =@result

- if @error
  %h4
    The R-Interpreter returned the following errors:
  %p.text-danger
    =@error