%h4 Your entered code was:
%code
  =r_code(@script)

- if @dataset
  %h4 The selected dataset was: #{@dataset.name}
  = render 'datasets/render_dataset', dataset: @dataset, limit: 10
%h4
  Variable
  %code result
  got assigned with:
%code
  =@result
- if @error
  %h4
    The R-Interpreter returned the following errors:
  %p.text-danger
    =@error