%li.list-group-item
  - if qar.result.nil?
    .glyphicon.glyphicon-minus-sign.text-muted
  - elsif qar.result
    .glyphicon.glyphicon-ok-sign.text-success
  - else
    .glyphicon.glyphicon-remove-sign.text-danger
  #{qar.query_assumption.name}: #{qar.query_assumption.question}
