- if analysis.done?
  - if analysis.plots.any?
    - analysis.plots.order(:name).each do |plot|
      %li.list-group-item
        .list-group-item-heading
          %b= plot.name
        .list-group-item-text
          .resize-on-click.text-center
            = image_tag(plot.asset_path, class: 'fit-parent')
  - else
    %li.list-group-item.list-group-item-warning
      No Frameworks have been evaluated
- else
  %li.list-group-item.list-group-item-warning
    The detailed report is only available, once the analysis is complete