- if analysis.done?
  - if analysis.frameworks.any?
    - analysis.frameworks.each do |arguments, set|
      -framework = set[0]
      -excluded_models = set[1]
      %li.list-group-item
        .list-group-item-heading
          %b= framework.name
        .list-group-item-text
          = image_tag(ExtendedArgumentationFramework::Plotter.new(framework, arguments).to_png)
  - else
    %li.list-group-item.list-group-item-warning
      No Frameworks have been evaluated
- else
  %li.list-group-item.list-group-item-warning
    The detailed report is only available, once the analysis is complete