%li.list-group-item[query_assumption]
  %p
    %b Question:
    = query_assumption.query_assumption.question
  - if query_assumption.query_assumption.is_a? QueryTestAssumption
    %p
      = image_tag(query_assumption.query_assumption.graph(query_assumption.analysis.dataset).asset_path, class: 'fit-parent')
  %p= render "query_assumption_results/form", question: query_assumption
