%li=link_to("Creating/editing global preferences", preferences_path)
%li=link_to("Creating/editing research questions", research_questions_path)
%li=link_to("Creating/editing models", models_path)
%li=link_to("Specifying assumptions", assumptions_path)