@import "variables";


img {
  &.fit-parent {
    max-width: 100%;
  }
}

.resize-on-click {
  transition: all .2s ease-in-out;
  &:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: thin solid $transparent-grey;
    &:after {
      height: 2em;
      content: 'Click to zoom into picture.';
      position: absolute;
      left: -1px;
      right: -1px;
      bottom: -2em;
      background: $transparent-grey;
      border: thin solid $transparent-grey;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  #img-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: $transparent-grey;
    left: 0;
    top: 0;
    z-index: 20;
    text-align: center;
    > .center {
      top: 50%;
      transform: translate(0%, -50%);
      border: thin solid white;
      border-radius: 8px;
      background-color: gray;
      display: inline-block;
      position: relative;
      .content {
        padding: 20px;
        margin: 0 auto;
        img {
          margin: 0 auto;
        }
      }

      .close {
        position: absolute;
        right: 4px;
        top: 0;
        color: white;
        opacity: 0.6;
        transition: all .4s ease;
        text-decoration: none;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}